* {
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  border: 1px solid grey;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header{
  padding: 10%;
}
footer{
  position:relative;
  left:0;
  right:0;
  bottom:0;
}
section{
  border:1px solid grey;
  background-color:grey;
  height:200px;
  text-align:center;
}
section:nth-child(even) {
background-color:#aaa;
}